services:
  db:
    image: postgres:15-alpine  
    container_name: postgresdb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: GestionEscolar
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gestion-escolar-network

  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - gestion-escolar-network
    env_file:
      - ./backend/.env
    environment:
      - DB_HOST=db
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend 
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    working_dir: /usr/src/app
    command: npm run dev -- --host 0.0.0.0
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - gestion-escolar-network

# Definimos el volumen para que los datos no se borren al apagar el contenedor
volumes:
  postgres_data:

networks:
  gestion-escolar-network: